body
{
    background-image: url(../graphics/background-2.jpg);
    background-size: cover;
}

#main-box
{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 10px;
    background-color: #FFC248;
    height: 475px;
    width: 275px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box
{
    text-align: left;
}

input
{
    background-color: #252525;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    width: 264px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: black;
}

input:focus
{
    outline: 3px solid whitesmoke;
}

.check-box
{
    width: 15px;
    height: 15px;
}

table
{
    margin-bottom: 25px;
}

#button
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #FFC248;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

#button:hover
{
    background-color: rgb(75, 75, 75);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

#editbutton
{
    text-align: center;
}

#companyname
{
    text-align: center;
}

#message-box.show
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    padding: 20px 20px;
    position: fixed;
    left: 60%;
    top: 35%;
    border-radius: 5px;
    animation: slideRight 1s ease-in-out forwards;
}

@keyframes slideRight 
{
    0% 
    {
      transform: translateX(500px);
    }
    50% 
    {
      transform: translateX(0%);
    }
    100% 
    {
      transform: translateX(10%);
    }
}

#message-text
{
    color: #FFC248;
    font-size: 16px;
    font-weight: bold;
}


#message-box-change-success.show
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    padding: 20px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation: slidebottom 1s ease-in-out forwards;
}

@keyframes slidebottom 
{
    0% 
    {
        transform: translate(-50%, 550%);
    }
    50% 
    {
        transform: translate(-50%, -75%);
    }
    100% 
    {
        transform: translate(-50%, -50%);
    }
}

#success-text
{
    color: #FFC248;
    font-size: 16px;
    font-weight: bold;
}