body
{
    background-image: url(../graphics/background-2.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-box
{
    background-color: #FFC248;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    padding: 25px 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#header
{
    font-weight: bold;
    font-size: 20px;
}

#delete-button
{
    text-align: center;
}

hr
{
    margin-bottom: 25px;
}

#delete
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #FFC248;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}
#delete:hover
{
    background-color: rgb(75, 75, 75);
}

#view-inventory
{
    background-color: rgb(0, 145, 255);
    color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    width: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    outline: 3px solid black;
    padding: 5px 50px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
    margin-top: 50px;
}

#view-inventory:hover
{
    background-color: rgb(80, 165, 255);
}

#message-box.show
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation: slideBottom 1s ease-in-out forwards;
}

@keyframes slideBottom 
{
    0% 
    {
        transform: translate(-50%, 550%);
    }
    50% 
    {
        transform: translate(-50%, -75%);
    }
    100% 
    {
        transform: translate(-50%, -50%);
    }
}

#message-text
{
    color: #FFC248;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#product-image
{
    position: fixed;
    left: 53%;
    top: 35.5%;
}

#table
{
    display: inline-block;
}

#image
{
    width: 175px;
    height: 150px;
    border-radius: 5px;
    margin-left: 25px;
    display: inline-block;
}
  

