body
{
    background-image: url(../graphics/background-3.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#link-product-list
{
    background-color: rgb(0, 145, 255);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    outline: 3px solid black;
    color: rgb(25, 25, 25);
    padding: 5px 50px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    left: 79%;
    top: 7%;
}

#link-product-list:hover
{
    background-color: rgb(25, 25, 25);
    background-color: rgb(80, 165, 255);
}

#main-box
{
    background-color: #FFC248;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px;
    border-radius: 5px;
    font-weight: bold;
}

#header
{
    text-align: center;
}

.labels
{
    display: inline-block;
    text-align: left;
}

.inputs
{
    margin-bottom: 10px;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    width: 264px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.inputs:focus
{
    outline: 3px solid whitesmoke;
}

#description
{
    text-decoration: none;
    resize: none;
    height: 75px;
    padding-top: 10px;
}

#hr
{
    width: 400px;
    position: fixed;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    background-color: rgb(25, 25, 25);
    border: 2px solid black;
}

#edit
{
    text-decoration: none;
    background-color: rgb(25, 25, 25);
    color: #FFC248;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    position: fixed;
    left: 33%;
    bottom: 45%;
    padding: 15px 35px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit:hover
{
    background-color: rgb(75, 75, 75);
}

#preview-container
{
    background-color: rgb(25, 25, 25);
    text-align: center;
    width: 450px; /* adjust to your preferred width */
    height: 300px; /* adjust to your preferred height */
    overflow: auto;
    position: fixed;
    left: 53.5%;
    bottom: 14.5%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(25, 25, 25);
    border-radius: 5px;
}

img
{
    width: 400px;
    height: 250px;
    padding-top: 25px;
}

#message-box.show
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation: slideBottom 1s ease-in-out forwards;
}

@keyframes slideBottom 
{
    0% 
    {
        transform: translate(-50%, 550%);
    }
    50% 
    {
        transform: translate(-50%, -75%);
    }
    100% 
    {
        transform: translate(-50%, -50%);
    }
}

#message-text
{
    color: #FFC248;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}