body
{
    background-image: url(../graphics/home_background.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-box
{
    background-color: #FFC248;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    z-index: 1;
}

.menu
{
    margin-right: 50px;
    color: rgb(25, 25, 25);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.menu:hover
{
    color: rgb(75, 75, 75);
}

#user-welcome
{
    position: fixed;
    left: 80%;
    top: 25px;
}

.categories
{   
    background-color: #FFC248;
    position: relative;
    top: 27%;
    font-size: 32px;
    padding: 1px 10px;
    text-align: center;
    border-radius: 5px;
}

.container-box
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    padding: 25px 25px;
    border-radius: 5px;
    position: relative;
    top: 25%;
    overflow: auto;
    display: flex;
    margin-bottom: 25px;
}

.content-box
{
    background-color: #FFC248;
    color: rgb(25, 25, 25);
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

.content-box:hover
{
    background-color: #fcc860;
}

#labels
{
    width: 150px;
}

.label
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
}

#product-image
{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.view-button
{
    text-align: center;
}

.view-product-button
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(0, 145, 255);
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
}


.view-product-button:hover
{
    background-color: rgb(25, 25, 25);
    background-color: rgb(80, 165, 255);
}

.ad-box
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    padding: 25px 25px;
    border-radius: 5px;
    position: relative;
    top: 25%;
    overflow: auto;
    display: flex;
    margin-bottom: 25px;
    text-align: center;
}

.advertisement-box
{
    background-color: #FFC248;
    color: rgb(25, 25, 25);
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    left: 18%;
}

.ad-image
{
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

#preview-container
{
    background-color: rgb(25, 25, 25);
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: auto;
    position: fixed;
    left: 5%;
    bottom: 84.5%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(25, 25, 25);
    border-radius: 1000px;
}

#pro-image
{
    max-width: 100px;
    max-height: 100px;
    position: relative;
}

img
{
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}