body
{
    background-image: url(../graphics/background-3.jpg);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header
{
    position: sticky;
    top: 38px;
}

#main-box
{
    background-color: #FFC248;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
    height: 105px;
    position: sticky;
    margin-bottom: 25px;
}

.menu
{
    background-color: rgb(0, 220, 4);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    color: rgb(25, 25, 25);
    padding: 7px 7px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    position: sticky;
    left: 95%;
}

.menu:hover
{
    background-color: rgb(21, 255, 0);
}

#table-area
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    color: #FFC248;
    padding-bottom: 25px;
    border-radius: 5px;
    overflow: auto;
}

#search
{
    padding: 10px 10px;
    font-weight: bold;
}

#searchresult
{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 25px;
    width: 350px;
    outline: none;
    background-color: #FFC248;
    border-color: #FFC248;
}

#searchresult:focus
{
    outline: 3px solid whitesmoke;
}

th
{
    background-color: #FFC248;
    font-size: 16px;
}

tr
{
    background-color: whitesmoke;
    font-size: 12px;
}

tr:hover
{
    background-color: rgb(0, 145, 255);
}

.delete-button
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px 25px;
    background-color: rgb(255, 75, 75);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
}

.edit-button
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(0, 175, 255);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
}

.delete-button:hover
{
    background-color: rgb(253, 100, 100);
}

.edit-button:hover
{
    background-color: rgb(80, 200, 255);
}

#url-links
{
    text-decoration: none;
    color: mediumblue;
}

#url-links:hover
{
    text-decoration: underline;
}

#list-message
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
