body
{
    background-image: url(../graphics/general_background.jpg);
    background-size: cover;
}

.signup-box
{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 10px;
    background-color: #FFC248;
    height: 525px;
    width: 275px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box
{
    text-align: left;
}

input
{
    background-color: #252525;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    width: 264px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: black;
    padding: 10px 10px;
}

input:focus
{
    outline: 3px solid whitesmoke;
}

.check-box
{
    width: 15px;
    height: 15px;
}

table
{
    margin-bottom: 25px;
}

#button
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #FFC248;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

#button:hover
{
    background-color: rgb(75, 75, 75);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

.signupbutton
{
    text-align: center;
}

#companyname
{
    text-align: center;
}

#message-box.show
{
    background-color: rgb(25, 25, 25);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    position: fixed;
    left: 70%;
    top: 30%;
    border-radius: 5px;
    animation: slideTop 5s ease-in-out forwards;
}

@keyframes slideTop 
{
    0% 
    {
      transform: translateY(-500px);
    }
    50% 
    {
      transform: translateY(75px);
    }
    100% 
    {
      transform: translateY(50px);
    }
}

#message-text
{
    color: #FFC248;
    font-size: 16px;
    font-weight: bold;
}

#button-close
{
    position: fixed;

    left: 25%;
}